.nav-spacer {
  margin: -15px 0;
}

.food-sec {
  background-color: grey;
  padding: 15px;
  height: 700px;
  position: relative;
}

.food-col {
  padding: 15px;
}

.top-link {
  color: black;
  position: absolute;
  bottom: 10px;
}

.top-link:hover {
  color: black;
}